.form {
    border-radius: 0.5rem;
    padding: 3rem;
    width: 50%;
    margin: 83px 0 80px 119px;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    background: inherit;
    overflow: hidden;
    .form-title {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        text-align: center;
        color: #e599a3;
   }
    .form-content {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        text-align: center;
        color: #fff;
   }
    .form-btn {
        background-color: #dc3545;
        color: #fff;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 0.25rem;
        padding: 0.8rem 2.6rem;
        margin: 1rem 0.6rem;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover, &:focus {
            background-color: #ca2333;
       }
   }
}
.success {
    border-radius: 0.5rem;
    padding: 3rem;
    width: 400px;
    margin: 83px 0 71px 119px;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    background: inherit;
    overflow: hidden;
    .success-image {
        margin: 15% 0 15% 38%;
   }
    .form-title {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        text-align: center;
        color: #e599a3;
   }
    .form-content {
        font-size: 0.9rem;
        margin-bottom: 3rem;
        text-align: center;
        color: #fff;
   }
    .image-cropper {
        width: 100px;
        height: 100px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
   }
    .profile-pic {
        display: inline;
        margin: 0 auto;
        margin-left: -16%;
        height: 100%;
        width: auto;
   }
}
@media (max-width: 800px) {
    .form {
        width: 73%;
        margin: 117px 0 80px 0;
        form {
            margin-right: 30px;
       }
        .form-btn {
            margin: 1rem 1rem;
       }
   }
    .success {
        padding: 0;
        width: 100%;
        margin: 147px 0 0 0;
        .form-title {
            margin-top: 2rem;
       }
   }
}
