<div class="form" *ngIf="!isUserCreated && !errorScreen">
  <div class="form-title"> Hello Friend</div>
  <div class="form-content"> Enter your details and start journey with us</div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-form-control [control]="control" *ngFor="let control of getControls()"></app-form-control>
    <button type="submit" *ngIf="form.valid" class="form-btn"><i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      Sign Up</button>
  </form>
</div>

<div class="success" *ngIf="isUserCreated && !errorScreen">
  <div class="form-title"> Welcome {{userName}}</div>
  <div class="success-image">
    <div class="image-cropper">
      <img src="../assets/images/thumbsup.gif" alt="thumbs up" class="profile-pic">
    </div>
  </div>
  <div class="form-content"> Your account has been created successfully !</div>

</div>

<div class="success" *ngIf="errorScreen">
  <div class="form-title"> Something went wrong !</div>
  <div class="success-image">
    <div class="image-cropper">
      <img src="../assets/images/sad.gif" alt="sad" class="profile-pic">
    </div>
  </div>
  <div class="form-content"> Please try again later</div>

</div>