@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 section {
     width: 100%;
     height: 100vh;
     color: #fff;
     background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
     background-size: 400% 400%;
     position: relative;
     animation: change 10s ease-in-out infinite;
}
 @keyframes change {
     0%{
         background-position: 0 50%;
    }
     50%{
         background-position: 100% 50%;
    }
     100%{
         background-position: 0 50%;
    }
}
 .container {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     font-family: 'Roboto', sans-serif;
     width: 64%;
     height: auto;
     box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
     border-radius: 20px;
     position: absolute;
     z-index: 1;
     background-color: #321d60;
     overflow: hidden;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
 .container .side-bar {
     width: 40%;
}
 .container .side-bar > img {
     width: 450px;
     position: relative;
     left: 44px;
     top: 137px;
}
 .container .side-bar > h1 {
     position: relative;
     top: 122px;
     left: 216px;
     color: #8ce5d0;
     font-size: 31px;
}
 .container .form {
     width: 60%;
}
 @media (max-width: 800px) {
     .container {
         flex-direction: column;
         width: 100%;
    }
     .container .form {
         width: 100%;
    }
     .container .side-bar > img {
         width: 358px;
         left: 0;
    }
     .container .side-bar > h1 {
         top: 132px;
         left: 132px;
    }
}
 