<section>
  <div class="container">
    <div class="side-bar">
      <h1>Sign-Up</h1>
      <img src="../assets/images/girl.gif">
    </div>
    <div class="form">
      <app-sign-up-form></app-sign-up-form>
    </div>
  </div>
</section>