.form-group {
    color: #8ce5d0;
    margin-bottom: 1rem;
    label {
        font-size: 15px;
   }
    .form-control {
        position: relative;
        width: 85%;
        i {
            color: rgb(65, 63, 63);
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            top: 0;
            bottom: 0;
            left: 0;
       }
        input {
            transition: all 0.5s ease;
            display: block;
            margin: 0.5rem 0;
            width: 100%;
            padding: .810rem .96rem;
            padding-left: 50px;
            border-radius: 2.5px;
            border: 1px solid #232a31;
            outline: none;
            background-color: #0b1f24;
            color: #fff;
            &::placeholder {
                color: rgb(65, 63, 63);
                opacity: 1;
           }
            &:focus {
                border-color: #80bdff;
           }
       }
   }
    .form-error {
        color: #dc3545;
        input {
            color: #dc3545;
            border-color: #dc3545;
            &:focus {
                border-color: #dc3545;
           }
       }
   }
}
