<div class="form-group">
    <label [for]="control.name">{{control.lable}}</label>
    <div class="form-control" [class]="{'form-error': $any(control.errorMessages)?.length > 0}">
        <input type="text" [name]="control.name" [formControl]="control" [placeholder]="control.placeholder">
        <i [class]="control.icon"></i>
    </div>
    <div class="form-error" *ngFor="let error of control.errorMessages">{{error}}</div>
</div>